* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #FFF;
  font-family: "Droid Sans", "Roboto", "Arial";
  display: table;
}

body > aside,
body > section {
  display: table-cell;
  height: 100%;
  margin: 0;
}

aside {
  vertical-align: middle;
  width: 75%;
  background-color: #005F6B;
  background-image: url(http://www.transparenttextures.com/patterns/cubes.png);
}

aside h4.title {
  font-size: 6em;
  text-align: right;
  padding: 20px;
  color: #00DFFC;
  padding-right: 1em;
}

section {
  -webkit-box-shadow: -4px 0 12px #333;
  -moz-box-shadow: -4px 0 12px #333;
  box-shadow: -4px 0 12px #333;
  width: 25%;
  min-width: 240px;
  background-color: #008C9E;
  background-image: url(http://www.transparenttextures.com/patterns/cubes.png);
  color: #fff;
  padding: 30px;
  vertical-align: middle;
}

.login-form {
  padding: 1.5em;
/*  background-color: #00B4CC;*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.login-form label {
  margin-bottom: 0.8em;
  display: block;
}

.login-form label span {
  width: 100px;
  display: inline-block;
}

.login-form label input {
  font-size: 1.3em;
  padding: 4px 8px;
  min-width: 100px;
  display: inline-block;
  border: none;
  border: 1px solid #00B4CC;
  color: #008C9E;
  background: #FAFAFA;
}

.login-form label input:focus {
  outline: none;
  border: 1px solid #00DFFC;
  background: #fff;
}


.login-form .note {
  padding: 4px;
  text-align: center;
}

.login-form input[type="submit"] {
  font-family: "Roboto", "Arial";
  padding: 8px 24px;
  background-color: #005F6B;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-top: 10px;
}
